<header class="masthead" style="background-image: url('/images/apply/background.JPG')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>在线申请</h1>
					<!-- <span class="subheading">About Our Company</span> -->
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
			{{#if enquirySubmitted}}
			<h3 class="my-5">谢谢！您已完成申请！请尽快完成汇款！祝您旅途愉快！</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="apply">
				<div class="">
					<h3>学生资料</h3>
				</div>
				<div class="form-group">
					<label>学生姓名</label>
					<input type="text" name="name" class="form-control" value="{{formData.name}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>邮箱</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>电话</label>
					<input type="text" name="phone" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">请选择</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>内容</label>
					<textarea name="message" placeholder="有什么想说的吗" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions mx-auto text-right">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>

	<div class="my-5">
		<p class="text-center text-danger">支付方式：请根据下一张表格信息，将费用电汇给我们，谢谢！</p>
		<div class="text-center">
			<a href="/images/汇款信息.jpg" class="text-primary" download>点击下载</a>
		</div>
		<div class="">
			<img src="/images/汇款信息.jpg" class="img-fluid mx-auto" alt="汇款信息">
		</div>
	</div>
</div>
