<header class="masthead" style="background-image: url('/images/contact/background.JPG')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1 class="my-5">联系我们</h1>
					<!-- <span class="subheading">About Our Company</span> -->
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container contact-container">
	<div class="row">
		<div class="col-sm-10 col-lg-10 offset-lg-2">
			<div class="my-5">
				<h4>微信联系：搜索ID：VisionAdventure，或扫描下方二维码</h4>
			</div>

			<div class="my-5">
				<h4>加QQ联系我们: 853287013</h4>
			</div>

			<div class="my-5">
				<h4>发送Email到：info@visionadventure.ca或者visionadventure@sina.com</h4>
			</div>

			<div class="my-5">
				<h4>扫描下方二维码，关注展望游学夏令营公众号，了解最新动态</h4>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h3 class="text-center">联系表格</h3>
	<div class="row">
		<div class="col-sm-8 col-md-6 offset-sm-2 offset-md-3">
			{{#if enquirySubmitted}}
			<h4 class="my-5">谢谢您的关注，我们会尽快回应！</h4>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>姓名</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>邮箱</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>电话</label>
					<input type="text" name="phone" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>留言类型</label>
					<select name="enquiryType" class="form-control">
						<option value="">请选择</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>内容</label>
					<textarea name="message" placeholder="有什么想说的吗" rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions mx-auto text-right">
					<button type="submit" class="btn btn-primary">提交</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
